.coverage
.DS_Store
.ipynb_checkpoints/
.pytest_cache
.vscode
*.bam*
*.fastq.gz
*.log
*.sif
*.tar
*.tar.gz
**.bt2
**.egg-info
**/__pycache__
**/.pyc
**GenomeDir
*delete*
*egg*
*target/*
202*
build/*
check_config.ipynb
check_design.ipynb
check_outputs.ipynb
containers/*.sif
containers/push_notes.txt
design_test/metadata_chip.csv
dist/*
fastq_class_sandbox.ipynb
htmlcov
lolcow.sif
metadata.csv
ngs_pipeline/tests/pipeline/
old_docs/
output.yml
paths.txt
pytestdebug.log
seqnado/_version.py
snakefiles_old
sps*
test_output/
test_rna_size_factors.ipynb
test_run.sh
test.json
testing
tests/data*
tests/make_data*
site/