**/.pyc
.vscode
**/__pycache__
.pytest_cache
ngs_pipeline/tests/pipeline/
**.bt2
*egg*
**GenomeDir
build/*
dist/*
**.egg-info
.ipynb_checkpoints/
seqnado/_version.py
test.json
fastq_class_sandbox.ipynb
2023*
2024*
test_rna_size_factors.ipynb
tests/data/genome/bt2_chr21_dm6_chr2L.tar.gz
tests/data/genome/chr21.fa.fai
tests/data/genome/chr21.gtf
tests/data/genome/hg38-blacklist.v2.bed.gz
tests/data/genome/STAR_chr21_rna_spikein/chrLength.txt
tests/data/genome/STAR_chr21_rna_spikein/chrName.txt
tests/data/genome/STAR_chr21_rna_spikein/chrNameLength.txt
tests/data/genome/STAR_chr21_rna_spikein/chrStart.txt
tests/data/genome/STAR_chr21_rna_spikein/exonGeTrInfo.tab
tests/data/genome/STAR_chr21_rna_spikein/exonInfo.tab
tests/data/genome/STAR_chr21_rna_spikein/geneInfo.tab
tests/data/genome/STAR_chr21_rna_spikein/Genome
tests/data/genome/STAR_chr21_rna_spikein/genomeParameters.txt
tests/data/genome/STAR_chr21_rna_spikein/Log.out
tests/data/genome/STAR_chr21_rna_spikein/SA
tests/data/genome/STAR_chr21_rna_spikein/SAindex
tests/data/genome/STAR_chr21_rna_spikein/sjdbInfo.txt
tests/data/genome/STAR_chr21_rna_spikein/sjdbList.fromGTF.out.tab
tests/data/genome/STAR_chr21_rna_spikein/sjdbList.out.tab
tests/data/genome/STAR_chr21_rna_spikein/transcriptInfo.tab
pytestdebug.log
