**/.pyc
.vscode
**/__pycache__
.pytest_cache
ngs_pipeline/tests/pipeline/
**.bt2
*egg*
**GenomeDir
build/*
dist/*
**.egg-info
.ipynb_checkpoints/
seqnado/_version.py
test.json
fastq_class_sandbox.ipynb
2023*
2024*
2025*
test_rna_size_factors.ipynb
tests/data/*
!tests/data/plotting_coordinates.bed
!hg38_genes.bed
pytestdebug.log
sps*
seqnado.sif
*.tar
*.tar.gz
containers/*.sif
*target/*
*delete*
.DS_Store
containers/push_notes.txt
paths.txt
check_design.ipynb
