[build-system]
requires = [
    "setuptools >= 61.0",
    "wheel",
    "setuptools_scm[toml]>=6.2",
]
build-backend = "setuptools.build_meta"

[project]
name = "seqnado"
authors = [
    {name = "Alastair Smith", email = "alastair.smith@ndcls.ox.ac.uk"},
    {name = "Catherine Chahrour", email = "catherine.chahrour@msdtc.ox.ac.uk"}
]
description = "Pipelines for genomics analysis"
readme = "README.md"
requires-python = ">=3.10"
license = {file = "LICENSE"}
dynamic = ["version"]
dependencies = [
    "click",
    "cookiecutter",
    "pandas",
    "pandera",
    "pulp<=3.2.1",
    "pydantic",
    "pyyaml",
    "seaborn",
    "snakemake-wrapper-utils",
    "snakemake>=8,<9",
    "snakemake-executor-plugin-slurm",
    "tracknado",
    "wget",
]

[project.scripts]
seqnado = "seqnado.cli:cli_pipeline"
seqnado-design = "seqnado.cli:cli_design"
seqnado-config = "seqnado.cli:cli_config"
seqnado-init = "seqnado.cli:cli_init"

[project.urls]
Homepage = "https://github.com/alsmith151/seqnado"

[tool.setuptools_scm]
write_to = "seqnado/_version.py"
local_scheme = "no-local-version"

[tool.setuptools.packages.find]
where = ["seqnado/"]
