[build-system]
requires = [
    "setuptools >= 61.0",
    "wheel",
    "setuptools_scm[toml]>=6.2",
]
build-backend = "setuptools.build_meta"

[project]
name = "seqnado"
authors = [
    {name = "Alastair Smith", email = "alastair.smith@ndcls.ox.ac.uk"},
    {name = "Catherine Chahrour", email = "catherine.chahrour@msdtc.ox.ac.uk"}]
description = "Pipelines for genomics analysis"
readme = "README.md"
requires-python = ">=3.7"
license = {text = "GNU GENERAL PUBLIC LICENSE Version 3"}
dynamic = ["version"]
dependencies = [
    "click",
    "pandas",
    "cookiecutter",
    "pyyaml",
    "snakemake",
    "setuptools_scm",
    "drmaa",
    "seaborn",
    "wget",
]

[project.scripts]
seqnado = "seqnado.cli:cli_pipeline"
seqnado-design = "seqnado.cli:cli_design"
seqnado-config = "seqnado.cli:cli_config"


[project.optional-dependencies]
atac = ["rsbamtk @ git+https://github.com/alsmith151/rsbamtk.git"]

[tool.setuptools_scm]
write_to = "seqnado/_version.py"
local_scheme = "no-local-version"

[project.urls]
Homepage = "https://github.com/alsmith151/seqnado"