user: "{{username}}"
project_date: "{{project_date}}"
project_name: "{{project_name}}"
seqnado_version: "{{seqnado_version}}"
design: "design.csv"

###################################
# Essential configuration options #
###################################

genome:
    name: "{{genome}}"
    index: "{{index}}"
    chromosome_sizes: "{{chromosome_sizes}}"
    gtf: "{{gtf}}"


fastq_screen: "{{fastq_screen}}"
fastq_screen_config: "{{fastq_screen_config}}"
library_complexity: "{{library_complexity}}"
remove_blacklist: "{{remove_blacklist}}"
blacklist: "{{blacklist}}"
remove_pcr_duplicates_method: "{{remove_pcr_duplicates_method}}"

{% if assay == "mcc" %}
viewpoints: "{{viewpoints}}"
resolution: "{{resolution}}"
{% endif %}

{% if assay in ["atac", "cat"] %}
shift_atac_reads: "{{shift_atac_reads}}"
{% endif %}



spikein: "{{spikein}}"
{% if spikein %}
spikein_options:
    normalisation_method: "{{normalisation_method}}"
    reference_genome: "{{reference_genome}}"
    spikein_genome: "{{spikein_genome}}"
{% endif %}

make_bigwigs: "{{make_bigwigs}}"  
scale: "{{scale}}"

{% if pileup_method %}
pileup_method: 
    - "{{pileup_method}}"
{% else %}
pileup_method: "{{pileup_method}}"
{% endif %}

make_heatmaps: "{{make_heatmaps}}"

{% if assay != "rna" %}
call_peaks: "{{call_peaks}}"
{% if peak_calling_method %}
peak_calling_method: 
    - "{{peak_calling_method}}"
{% else %}
peak_calling_method: "{{peak_calling_method}}"
{% endif %}
{% endif %}

consensus_counts: "{{consensus_counts}}"

{% if assay == "rna" %}
rna_quantification: "{{rna_quantification}}"
salmon_index: "{{salmon_index}}"
run_deseq2: "{{run_deseq2}}"
{% endif %}

{% if assay == "meth" %}
call_methylation: "{{call_methylation}}"
methylation_assay: "{{methylation_assay}}"
{% endif %}

{% if assay == "snp" %}
call_snps: "{{call_snps}}"
annotate_snps: "{{annotate_snps}}"
snp_database: "{{snp_database}}"
{% endif %}

{% if assay in ["meth", "snp", "mcc"] %}
fasta: "{{fasta}}"
fasta_index: "{{fasta_index}}"
{% endif %}

make_ucsc_hub: "{{make_ucsc_hub}}"
ucsc_hub_details:
    directory: "{{UCSC_hub_directory}}"
    name: "{{project_name}}"
    short: "{{project_name}}"
    long: "{{project_name}}"
    email: "{{email}}"
    color_by: "{{color_by}}"


geo_submission_files: "{{geo_submission_files}}"

perform_plotting: "{{perform_plotting}}"
plotting_coordinates: "{{plotting_coordinates}}"
plotting_genes: "{{plotting_genes}}"
plotting_format: "svg"

{% if assay in ["atac", "chip", "cat"] %}
make_dataset: "{{ make_dataset }}"
dataset:
  {% if regions_bed is not none %}
  regions_bed: "{{ regions_bed }}"
  {% else %}
  regions_bed: ""
  {% endif %}

  {% if binsize is not none %}
  binsize: {{ binsize }}
  {% else %}
  binsize: ""
  {% endif %}
{% else %}
make_dataset: "False"
{% endif %}

#################################
# Tool specific options         #
#################################
{{options}}