name: Python package

on: [push, pull_request]

jobs:
  setup_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.12"]
        test: ["test_config_generation"]
        test-case: ["atac", "chip-rx", "chip", "rna-rx", "rna", "snp"]

    outputs:
      cache-hit: ${{ steps.cache-conda.outputs.cache-hit }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache conda environment
        id: cache-conda
        uses: actions/cache@v3
        with:
          path: ~/miniconda3/envs/test
          key: ${{ runner.os }}-conda-${{ matrix.python-version }}-${{ hashFiles('**/testing.yml') }}
          restore-keys: |
            ${{ runner.os }}-conda-${{ matrix.python-version }}-

      - name: Set up conda
        if: steps.cache-conda.outputs.cache-hit != 'true'
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: testing.yml
          miniforge-version: latest
          miniforge-variant: Mambaforge
          python-version: ${{ matrix.python-version }}
          use-mamba: true

      - name: Create environment
        if: steps.cache-conda.outputs.cache-hit != 'true'
        run: |
          mamba env update -n test -f testing.yml
          pip install .
        shell: bash -l {0}

      - name: Verify environment
        run: |
          source ~/miniconda3/bin/activate test
          which seqnado
        shell: bash -l {0}

      - name: Save environment
        if: steps.cache-conda.outputs.cache-hit != 'true'
        run: |
          tar -czf test_env.tar.gz -C /home/runner/miniconda3/envs/test .
        shell: bash -l {0}

      - name: Upload environment
        if: steps.cache-conda.outputs.cache-hit != 'true'
        uses: actions/upload-artifact@v3
        with:
          name: test_env
          path: test_env.tar.gz

      - name: Run test
        run: |
          pytest "tests/test_pipelines.py::${{ matrix.test }}[${{ matrix.test-case }}]" -vv -s --cores 4 -k
        shell: bash -l {0}
