name: Python package

on: [push]

jobs:
  Test:
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test: ["config", "design", "pipeline"]
        assay: ["atac", "chip-rx", "chip", "rna-rx", "rna", "snp"]

    steps:
      - uses: actions/checkout@v3

      - name: Cache dependencies
        id: cache-env
        uses: actions/cache@v3
        with:
          path: |
            ~/.conda
            ~/.cache/pip
          key: ${{ runner.os }}-env-${{ hashFiles('**/testing.yml') }}
          restore-keys: |
            ${{ runner.os }}-env-

      - name: Set up conda using miniforge
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: testing.yml
          miniforge-variant: Mambaforge
          miniforge-version: latest
          use-mamba: true

      - name: Install the package
        shell: pwsh
        run: |
          pip install .

      - uses: eWaterCycle/setup-apptainer@v2
        if: matrix.test == 'pipeline'
        with:
          apptainer-version: 1.1.2

      - name: Download singularity images from artifacts
        if: matrix.test == 'pipeline'
        uses: actions/download-artifact@v3
        with:
          name: singularity-images-${{ matrix.assay }}
          path: singularity_images/
        continue-on-error: true

      - name: Pull singularity images
        if: matrix.test == 'pipeline'
        shell: bash
        run: |
          mkdir -p singularity_images
          if [ ! -f "singularity_images/seqnado_pipeline_latest.sif" ]; then
            if [[ "${{ matrix.assay }}" == "atac" || "${{ matrix.assay }}" == "chip" ]]; then
              apptainer pull --force singularity_images/seqnado_pipeline_latest.sif library://asmith151/seqnado/seqnado_pipeline:latest
              apptainer pull --force singularity_images/seqnado_extra_latest.sif library://asmith151/seqnado/seqnado_extra:latest
            elif [[ "${{ matrix.assay }}" == "rna-rx" ]]; then
              apptainer pull --force singularity_images/seqnado_pipeline_latest.sif library://asmith151/seqnado/seqnado_pipeline:latest
              apptainer pull --force singularity_images/seqnado_report_latest.sif library://asmith151/seqnado/seqnado_report:latest
            elif [[ "${{ matrix.assay }}" == "chip-rx" || "${{ matrix.assay }}" == "rna" || "${{ matrix.assay }}" == "snp" ]]; then
              apptainer pull --force singularity_images/seqnado_pipeline_latest.sif library://asmith151/seqnado/seqnado_pipeline:latest
            fi
          fi

      - name: Save singularity images
        if: matrix.test == 'pipeline'
        uses: actions/upload-artifact@v3
        with:
          name: singularity-images-${{ matrix.assay }}
          path: singularity_images/

      - name: Test ${{ matrix.test }} ${{ matrix.assay }}
        shell: pwsh
        run: |
          pytest tests/test_pipelines.py::test_${{ matrix.test }}[${{ matrix.assay }}] -vv -s --cores 4
