name: Pipeline Tests

on: 
  push

jobs:
  test-pipelines:
    name: Test Pipeline - ${{ matrix.assay }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        assay: 
          - atac
          # - cat
          - chip
          # - chip-rx
          # - mcc
          - meth
          - rna
          # - rna-rx
          - snp
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Conda environment and install SeqNado
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: testing.yml
          miniforge-version: latest
          use-mamba: true

      - name: Install SeqNado package
        shell: bash -el {0}
        run: |
          pip install .
          
          # Verify installation
          python -c "import seqnado; print(f'SeqNado installed at: {seqnado.__file__}')"
          which seqnado
          python -c "import pytest; print(f'pytest version: {pytest.__version__}')"

      - name: Setup Apptainer runtime
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.3.4

      - name: Ensure files are available
        run: |
          mkdir -p /home/runner/miniconda3/envs/test/lib/python3.12/site-packages/tests/data/
          cp tests/data/plotting_coordinates.bed /home/runner/miniconda3/envs/test/lib/python3.12/site-packages/tests/data/
          cp tests/data/hg38_genes.bed /home/runner/miniconda3/envs/test/lib/python3.12/site-packages/tests/data/

      - name: Run SeqNado pipeline test for ${{ matrix.assay }}
        shell: bash -el {0}
        env:
          TMPDIR: /tmp
          SEQNADO_CONFIG: "${{ github.workspace }}/tests/genome_config.json"
        run: |
          python -m pytest tests/pipeline/test_pipelines.py -vv \
          -s --cores 4 --run-pipeline --assays ${{ matrix.assay }}