name: Multi-Assay Test

on: 
  push
jobs:
  test-multiassay:
    name: Test Multi-Assay Pipeline
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Conda environment and install SeqNado
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: testing.yml
          miniforge-version: latest
          use-mamba: true

      - name: Install SeqNado package
        shell: bash -el {0}
        run: |
          pip install .
          
          # Verify installation
          python -c "import seqnado; print(f'SeqNado installed at: {seqnado.__file__}')"
          which seqnado
          python -c "import pytest; print(f'pytest version: {pytest.__version__}')"

      - name: Setup Apptainer runtime
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.3.4

      - name: Run SeqNado pipeline test for Multi-Assay
        shell: bash -el {0}
        env:
          TMPDIR: /tmp
          SEQNADO_CONFIG: "${{ github.workspace }}/tests/genome_config.json"
        run: |
          python -m pytest tests/pipeline/test_pipeline_multi.py -vv -s \
            --cores 4 --run-pipeline --assays "atac,chip,rna"
