name: Python package

on: [push]

jobs:
  Test:
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: [pull_singularity]
    strategy:
      matrix:
        test: ["config", "design", "pipeline"]
        assay: ["atac", "chip-rx", "chip", "rna-rx", "rna", "snp"]

    steps:
      - uses: actions/checkout@v3

      - name: Cache dependencies
        id: cache-conda
        uses: actions/cache@v3
        with:
          path: |
            ~/.conda
            ~/.cache/pip
          key: ${{ runner.os }}-env-${{ hashFiles('**/testing.yml') }}
          restore-keys: |
            ${{ runner.os }}-env-

      - name: Set up conda using miniforge
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: testing.yml
          miniforge-variant: Mambaforge
          miniforge-version: latest
          use-mamba: true

      - name: Install the package
        shell: pwsh
        run: |
          pip install .

      - name: Test ${{ matrix.test }} ${{ matrix.assay }}
        shell: pwsh
        run: |
          pytest tests/test_pipelines.py::test_${{ matrix.test }}[${{ matrix.assay }}] -vv -s --cores 4
