name: Python package

on: [push]

jobs:
  Test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test: ["test_config_generation", "test_pipeline"]
        assay: ["atac", "chip-rx", "chip", "rna-rx", "rna", "snp"]

    steps:
      - uses: actions/checkout@v3
      - uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.1.2

      - name: Add singularity hub remote
        run: |
          apptainer remote add --no-login SylabsCloud cloud.sylabs.io
          apptainer remote use SylabsCloud

      - name: Cache conda environment
        id: cache-conda
        uses: actions/cache@v3
        with:
          path: |
            ~/miniforge3/envs/test
            ~/.cache/pip
          key: ${{ runner.os }}-conda-${{ hashFiles('**/testing.yml') }}
          restore-keys: |
            ${{ runner.os }}-conda-

      - name: Set up conda using miniforge
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: testing.yml
          miniforge-variant: Mambaforge
          miniforge-version: latest
          use-mamba: true

      - name: Install the package
        shell: pwsh
        run: |
          pip install .

      - name: Test design ${{ matrix.assay }}
        shell: pwsh
        run: |
          seqnado-design chip tests/data/fastq/${{ matrix.assay }}*

      - name: Test ${{ matrix.test }} ${{ matrix.assay }}
        shell: pwsh
        run: |
          pytest -vv -s --cores 4 -k ${{ matrix.test }}[${{ matrix.assay }}]
